﻿body {
    color: #000;
}

#modalpopup, #messagebox, #confirmationbox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalpopup-content {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 1px 5px #000;
    padding: 30px 30px;
    text-align: center;
    vertical-align: middle;
    min-height: 125px;
    min-width: 200px;
    font-size: 15px;
    display: inline-table;
}

#modalpopup-content i {
    font-size: 40px;
}

#modalpopup-text {
    padding-top: 5px;
}

#messagebox-content, #confirmationbox-content {
    min-height: 125px;
    width: 300px;
    border: 1px solid #666;
    background: #fff;
}

#messagebox-text, #confirmationbox-text {
    padding: 30px 20px;
    font-size: 14px;
}

#messagebox-footer {
    border-top: 1px solid #cdcbc9;
    padding: 15px 30px;
    background: #eff0f1;
}

#confirmationbox-footer {
    border-top: 1px solid #cdcbc9;
    padding: 15px;
    background: #eff0f1;
}

#confirmationbox-footer {
    text-align: right;
}

.messagebox-ok-button, .confirmationbox-no-button, .confirmationbox-yes-button {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    padding: 2px 25px;
}

#portal {
    padding: 0 20px;
}

#portal .box-cart {
    text-align: right;
}

#portal .cart > button {
    border-bottom-right-radius: 5px;
}

#portal .cart > button > i {
    margin-top:0;
}

#portal #ErrorMsgLabel {
    font-size: 18px;
}

.portal-menu {
    float: left;
    width: 100%;
}

.portal-content {
    /*float: left;
    width: auto;*/
}

.portal-menu li li:first-child, .portal-menu ul li + li {
    border-color: #fff;
    border-top: 1px solid #fff;
}

.portal-menu ul li a, .parent-menu {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background: #f2f2f2 none repeat scroll 0 0;
    color: #2f2f2f;
    line-height: 20px;
    padding: 8px 30px 8px 17px;
    display: block;
}

.portal-menu .i-link-sub-menus {
    padding-left: 10px;
}

.portal-menu .i-link-sub-menus li a {
    text-transform: capitalize;
}

.portal-menu ul li a:hover {
    color: #f28b00;
}

.portal-menu .menu-selected {
    background: #f28b00;
    color: #fff;
}

.portal-menu .menu-selected:hover {
    color: #000;
}

.portal-menu .sub-menu-selected {
    color:#fc8204;
}

.page-breadcrumb {
    font-size: 15px;
    text-align: left;
    bottom: 0;
    position: absolute;
}

.top-header {
    position: relative;
    margin-bottom: 10px;
}

#frmProfile input[type="text"], #frmProfile input[type="password"], #frmProfile select,
#frmPortalEditAddress input[type="text"], #frmPortalEditAddress select, #frmPortalEditAddress textarea,
#frmPortalAddAddress input[type="text"], #frmPortalAddAddress select, #frmPortalAddAddress textarea {
    border: 1px solid #c8ccd0;
}

#frmProfile input[type="text"], #frmProfile input[type="password"], 
#frmPortalEditAddress input[type="text"], #frmPortalEditAddress select, #frmPortalEditAddress textarea,
#frmPortalAddAddress input[type="text"], #frmPortalAddAddress select, #frmPortalAddAddress textarea {
    height: 35px;
}

#frmPortalEditAddress #txtContactName, #frmPortalEditAddress #AddressControl_txtStreet, #frmPortalEditAddress 
#AddressControl_drpCountry, #frmPortalAddAddress #txtContactName {
    width: 456px;
}

#frmPortalAddAddress .section-title {
    font-size: 16px;
    font-weight: 700;
}

#frmPortalEditAddress #AddressControl_txtPostal {
    width: 175px;
}

#frmPortalEditAddress #AddressControl_txtState {
    width: 51px;
}

#frmPortalEditAddress #AddressControl_txtCity {
    width: 211px;
}

#frmProfile #ProfileControl_txtLastName {
    width: 153px;
}

#frmProfile #ProfileControl_txtEmail, #frmProfile #old-password-input {
    width: 443px;
}

#frmProfile #ProfileControl_txtConfirmPassword {
    width: 209px;
}

#frmProfile .section-title {
    font-size: 16px;
    font-weight: 700;
}

#frmProfile .section-values {
    font-size: 16px;
    line-height: 20px;
}

#frmProfile .section-block {
    float: left;
    width: 50%;
}

#frmProfile .signinheaderlabel {
    color: #3399ff;
    font-size: 30px;
    font-weight: 300;
    line-height: 17px;
    vertical-align: middle;
}

#frmProfile #ProfileControl_drpLstSalutation {
    width: 105px;
}

#frmProfile #ProfileControl_txtFirstName {
    width: 165px;
}

#frmProfile #ProfileControl_txtContactNumber {
    width: 224px;
}

#frmProfile #ProfileControl_txtMobile {
    width: 209px;
}

#frmProfile #ProfileControl_txtPassword {
    width: 224px;
}

#frmProfile .form-control-salutation, #frmProfile .form-control-fname, #frmProfile .form-control-lname,
#frmProfile .form-control-contactnumber, #frmProfile .form-control-mobile, #frmProfile .form-control-email,
#frmProfile .form-control-oldpassword, #frmProfile .form-control-password, #frmProfile .form-control-confirmpassword,
#frmPortalEditAddress .form-control-state, #frmPortalEditAddress .form-control-city, #frmPortalEditAddress .form-control-postal,
#frmPortalEditAddress .form-block-citystate {
    width: auto;
}

.profile-section-header {
    background: #000 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    line-height: 35px;
    padding-left: 15px;
    text-align: left;
}

.profile-section-header span {
    font-size: 18px;
}

.profile-secondary-button {
    width: 200px;
    background: #cccccc;
    color: #666;
}

.profile-primary-button {
    background: #66cc00 none repeat scroll 0 0;
    font-size: 18px;
    width: 200px;
}

#frmPortalCheckoutReview .portalcheckoutreview-minus-button {
    padding-right: 2px;
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    font-size: 40px;
    color: #66cc00;
}

#frmPortalCheckoutReview .portalcheckoutreview-minus-button:hover,
#frmPortalCheckoutReview .portalcheckoutreview-plus-button:hover {
    color: #f28b00;
}

#frmPortalCheckoutReview .portalcheckoutreview-plus-button {
    font-size: 40px;
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #66cc00;
}

#frmPortalCheckoutReview .portalcheckoutreview-update-layout-button {
    font-size: 13px;
    background: #66cc00 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    width: 120px;
    height: 35px;
    line-height: 35px;
}

#frmPortalCheckoutReview .summary {
    float: right;
    line-height: 23px;
    margin-right: 5px;
    width: 40%;
}

#frmPortalCheckoutReview .update-cart-layout {
    margin-top: 30px;
    display: none;
}

#frmPortalCheckoutReview input[type="text"], #frmPortalCheckoutReview select {
    border: 1px solid #c8ccd0;
}

#frmPortalCheckoutReview .cart-items-wrapper img {
    max-width: 130px;
}

#frmPortalCheckoutReview .out-of-stock-text {
    font-weight: 700;
    font-style: italic;
    color: #FF0000;
    font-size: 14px;
}

#frmPortalCheckoutReview .cancellation-text {
    color: #ff0000;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 0 5px 2px;
}

#frmPortalCheckoutReview #shiptolist {
    padding-left: 5px;
}

.portalcheckoutreview-section-header {
    background: #000 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    line-height: 35px;
    padding-left: 15px;
    text-align: left;
}

.portalcheckoutreview-section-header span {
    font-size: 18px;
}

#frmPlaceOrder .search {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c8ccd0;
    border-radius: 3px;
    box-sizing: border-box;
    height: 40px;
    padding: 2px 93px 9px 6px;
    width: 50%;
    z-index: 46;
}

#frmPlaceOrder .search button {
    background: #cdcbc9 none repeat scroll 0 0;
    border: medium none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    bottom: -1px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 0 25px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: auto;
}

#frmPlaceOrder .search input {
    font-size: 14px !important;
    height: 35px;
}

#frmPlaceOrder .paging {
    float: right;
    height: 34px;
    display: table;
}

#frmPlaceOrder .paging .entity-paging {
    display: table-cell;
    vertical-align: middle;
}

#frmPlaceOrder .paging .entity-paging .page-label,
#frmPlaceOrderForm .paging .entity-paging .page-label {
    font-size: 15px;
    padding-right: 5px;
}

#frmPlaceOrder .paging .entity-paging a,
#frmPlaceOrderForm .paging .entity-paging a {
    font-size: 15px;
}

#frmPlaceOrder .cart-items-wrapper {
    float: left;
    width: 100%;
    border:0;
    padding:0;
}

#frmPlaceOrderForm .showproduct_limit-restricted-qty,
#frmPlaceOrderForm .inputQuantityLimit {
    border: 1px solid #c8ccd0;
}

#frmPlaceOrderForm .uom {
    font-weight: 400;
    font-size: 14px;
}

#frmPlaceOrderForm .add-to-cart-icon {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    font-size: 40px;
    color: #66cc00;
}

#frmPlaceOrderForm .qty-text-col-values {
    padding-top: 12px;
}
#frmPlaceOrderForm .qty-select-col-values {
    padding-top: 1px;
}

#frmPlaceOrderForm .cart-items-wrapper img {
    height: auto;
    max-width: 120px;
}

#frmPlaceOrderForm .entity-item-price-out-of-stock {
    width: 135px;
}

#frmPlaceOrderForm .entity-item-price-hide-buy-button {
    width: 135px;
}

#frmPlaceOrderForm .shipped-message {
    color: #ff0000;
}

#orderHistoryDisplayRange {
    text-align: left !important;
    padding-top: 30px;
}

#pager {
    text-align: left !important;
}

.placeorder-primary-button {
    background: #ff0000 none repeat scroll 0 0;
    width: 135px;
    height: 35px;
    line-height: 35px;
    margin-top: 0;
    padding-top:0;
}

.placeorder-checkout-button {
    background: #f28b00 none repeat scroll 0 0;
    font-size: 18px;
    width: 200px;
}

.company-logo {
    padding: 0 0 30px;
    text-align: center;
}

.company-logo-size {
    
}

.product_description {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}

#drpContactList {
    width: 300px;
    height: 34px;
}

.companyheadertext {
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    width: 95%;
}

.textbox-border {
    border: 1px solid #c8ccd0;
    background: #fff none repeat scroll 0 0;
    z-index: 10000;
}

/*==========================================================*/
/*START FREEZE COLUMN*/
.ft_container table { border-width: 0px; margin: 0px; border-collapse: collapse; margin: 0; outline-style: none; font-size: 0.9em; background-color: #fff; }

.ft_container table tr th {	font-weight: bold; }

.ft_container table thead { -moz-user-select: none;-webkit-user-select: none;}
.ft_container table tr th, 
.ft_container table tr td { border-collapse: collapse; padding: 2px 4px; word-wrap: break-word; border: 1px solid #CCCCCC; border-top-width: 0px; border-left-width: 0px; border-right-width: 1px; border-bottom-width: 1px; overflow:hidden; word-wrap: break-word;}

.ft_container table tr:first-child td,  
.ft_container table tr:first-child th { border-top-width: 1px; border-color: #CCCCCC; }
.ft_container table tr td:first-child,
.ft_container table tr th:first-child { border-left-width: 1px; border-color: #CCCCCC; }

.ft_container { overflow: hidden; padding: 0px; }

.ft_rel_container { position: relative; overflow: hidden; border-width: 0px; width: 100%; height: 100%; }

.ft_r, .ft_rc { background-image: none; }
.ft_rc { position: absolute; z-index: 1005; }
.ft_r, .ft_c { position: relative; }

.ft_rwrapper, .ft_cwrapper { overflow: hidden; position: absolute; z-index: 999; border-width: 0px;  padding: 0px; margin: 0px; }
/*.ft_rwrapper { width: 100%; padding-right: 17px; }*/

.ft_scroller { overflow: auto; height: 100%; padding: 0px; margin: 0px;}

.ft_container tbody tr.ui-widget-content, thead.ui-widget-header { background-image: none; }

.ft_container table.sorttable thead tr th { cursor: pointer; }
.ft_container table thead tr th.fx_sort_bg{ background-image: url(images/bg.gif); background-position: right center; background-repeat: no-repeat; }
.ft_container table thead tr th.fx_sort_asc{ background-image: url(images/asc.gif); }
.ft_container table thead tr th.fx_sort_desc{ background-image: url(images/desc.gif); }

.ft_container table tr th {
    background: #7c7a78; 
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.table-header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.table-header-sticky + .table-content {
  padding-top: 102px;
}
/*END FREEZE COLUMN*/
/*==========================================================*/

.responsive-grid-header {
    display: flex;
    font-weight: 700;
    font-size: 15px;
}

.responsive-grid-content {
    display: flex;
}

.responsive-grid-sub-header {
    font-weight: 700;
}

.responsive-col {
    float: left;
    width: 100%;
    padding: 5px;
}

.responsive-col-1 {
    float: left;
    min-width: 110px;
    padding: 5px;
}

.responsive-col-2 {
    float: left;
    min-width: 270px;
    padding: 5px;
}

.responsive-col-3 {
    float: left;
    min-width: 80px;
    padding: 5px;
    font-size: 15px;
}

.text-align-right {
    text-align: right;
}

#frmPortalApprovals #drpApprovalDate {
    width: 150px;
    height: 34px;
}

#frmPortalApprovals .responsive-col span {
    font-size: 14px;
}

#tblOrderHistory th.order-number, th.order-date, th.order-date, th.order-number, th.order-shipping-status, th.order-total, th.order-location 
{
    font-size: 15px;
}

#frmOrderHistory #orderHistoryContent td a {
    font-size: 14px;
    margin-top: -5px;
}

#pnlOrderHistory #pagingHeader {
    float: right;
}

#pnlOrderHistory .page-label {
    font-size: 15px;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block;
}

.order-history-pagination li a {
    display: inline-block;
    margin: 1px 1px 0 0;
    text-align: center;
    width: 20px;
    font-size: 15px;
    padding: 3px 0;
    text-decoration: none;
}

.order-history-pagination li .active{
    background-color: #d9ebf0;
    border-radius: 4px;
}

#frmReports .filter-date {
    background-color: #f0f0f0;
    border: 1px solid #a8a8a8;
    box-sizing: border-box;
    float: left;
    padding: 4px 0 0 4px;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
}

#frmReports .filter-date span {
    font-size: 15px;
}

#frmReports .header-color {
    background: #7c7a78;
    color: #fff;
    width: 3260px;
    display: flex;
}

#frmReports .fixed-header-color {
    background: #7c7a78;
    color: #fff;
    width: 3260px;
    font-size: 15px;
    font-weight: 700;
}

#frmReports .calendar {
    right: 0; 
    position: absolute; 
    pointer-events: none; 
    padding: 5px; 
    font-size: 24px;
}

#frmReports .save-icon {
    right: 0; 
    padding: 5px; 
    font-size: 31px;
    padding: 2px 5px 0 10px;
    color: #66cc00;
}

#frmReports .home {
    right: 0; 
    padding: 0 3px; 
    font-size: 24px;
    color: #fff;
}

#frmReports .responsive-grid-content, #frmReports .cart-item-divider{
    width: 3260px;
}

#frmReports .responsive-col {
    padding: 5px;
    width: 150px;
}

#frmReports .responsive-col-1 {
    width: 110px;
    padding: 5px;
}

#frmReports .responsive-col-2 {
    width: 400px;
    padding: 5px;
}

#frmReports .responsive-col-3 {
    width: 200px;
    padding: 5px;
}

#frmReports .responsive-col-4 {
    width: 958px;
    padding: 5px;
}

#frmReports .responsive-col-5 {
    width: 204px;
    padding: 5px;
    background: #7c7a78;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

#frmReports .responsive-col-6 {
    border-top: 1px solid #7c7a78;
    padding: 5px;
    width: 124px;
    font-size: 15px;
    font-weight: 700;
}

#frmReports .responsive-col-7 {
    padding: 5px;
    width: 123px;
}

#frmReports .responsive-col-subtotal {
    padding: 5px;
    width: 195px;
    float: left;
    font-weight: 700;
}

#frmReports .report-go-button {
    background: #66cc00 none repeat scroll 0 0;
    font-size: 18px;
    width: 60px;
    margin-top: 0px;
    line-height: 35px;
    max-height: 35px;
}

#frmReports .text-left-space {
    padding-left: 15px;
}

.clear {
    clear: both;
}

.no-margin {
    margin:0;
}

.textbox {
    border: 1px solid #000;
    border-radius: 4px;
    height: 35px !important;
    font-size: 15px !important;
    padding: 4px;
}

.report-date-option {
    width: 110px;
}

.report-date {
    width: 150px;
}

.home-button {
    width: 100px;
    color: #fff;
    background: #0066cc;
    line-height: 35px;
    height: 35px;
    margin: 0;
}

#frmStatementofAccount .pdf {
    color: #ff0000;
    font-size: 20px;
}

#frmStatementofAccount .excel {
    color: #4caf50;
    font-size: 20px;
}

#frmStatementofAccount .others {
    color: #000;
    font-size: 20px;
}

#frmStatementofAccount .responsive-col {
    width: 25px;
}

#frmStatementofAccount .responsive-col-1 {
    width: 100px;
}

#frmStatementofAccount .responsive-col-2 {
    width: 500px;
}