<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Host.aspx.cs" Inherits="admin_Host"  EnableEventValidation="false"  EnableViewState="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">    
        <asp:Panel ID="pnlContainer" runat="server">
        </asp:Panel>
    </form>
</body>
</html>
