﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CustomAttributes.ascx.cs" Inherits="UserControls_CustomAttributes" %>

<div id="divAttributes" style="width: 300px;  
    float: left; border-right: 1pt solid; border-top: 1pt solid; border-left: 1pt solid; border-bottom: 1pt solid; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px;">
    
</div>