﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="bestsellers.aspx.cs" Inherits="InterpriseSuiteEcommerce.mobile.bestsellers" %>
<%@ Register TagPrefix="ise" TagName="XmlPackage" Src="XmlPackageControl.ascx" %>

<ise:XmlPackage ID="Package1" 
    PackageName="page.bestsellers.xml.config"
    runat="server" 
    EnforceDisclaimer="True" 
    EnforcePassword="True" 
    EnforceSubscription="True" 
    AllowSEPropogation="true" />