<%@ Page Language="c#" Inherits="InterpriseSuiteEcommerce.departments" CodeFile="departments.aspx.cs"
    EnableEventValidation="false" %>

<%@ Register TagPrefix="ise" TagName="XmlPackage" Src="XmlPackageControl.ascx" %>
<html>
<head>
</head>
<body>
    <ise:XmlPackage ID="Package1" PackageName="page.departments.xml.config" runat="server"
        EnforceDisclaimer="true" EnforcePassword="true" EnforceSubscription="true" AllowSEPropogation="true"
        RuntimeParams="EntityName=Department" />
</body>
</html>