<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.notification" CodeFile="notification.aspx.cs" %>
<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form runat="server">
        <asp:Label ID="notification_aspx_1" runat="Server" Font-Bold="true"></asp:Label><br />
        <asp:Label ID="notification_aspx_2" runat="Server" Font-Bold="true"></asp:Label><br /><br />
        <asp:Label ID="notification_aspx_4" runat="Server" Font-Bold="true"></asp:Label>
        <asp:HyperLink ID="ReceiptURL" runat="server"></asp:HyperLink><br />
        <asp:Label ID="notification_aspx_5" runat="Server" Font-Bold="true"></asp:Label>
        <asp:HyperLink ID="XmlURL" runat="server"></asp:HyperLink><br />
    </form>
</body>
</html>