<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.searchadv" CodeFile="searchadv.aspx.cs" %>
<%@ Register TagPrefix="ise" TagName="XmlPackage" src="XmlPackageControl.ascx" %>
<html>
<head>
<title></title>
</head>
<body>
<ise:XmlPackage id="Package1" PackageName="page.searchadv.xml.config" runat="server"/>
</body>
</html>