﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="setvatsetting.aspx.cs" Inherits="InterpriseSuiteEcommerce.setvatsetting" %>
<html>
<head>
<title>Setting VAT Display Preference</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="skins/Skin_(!SKINID!)/style.css" type="text/css">
</head>
<body>
<div id="Div1" align="center" runat="server">
    <asp:Label ID="Label1" runat="server" Text="Label" Font-Bold="True"></asp:Label><br/>
</div>
</body>
</html>