﻿<%@ Page Language="c#" Inherits="InterpriseSuiteEcommerce.mobile.signout" CodeFile="signout.aspx.cs" %>
<html>
<head runat="server">
    <title>Signout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="skins/Skin_(!SKINID!)/style.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100%" height="100%" align="center" valign="middle">
                <asp:Literal ID="Literal1" runat="server" Text="(!signout.aspx.1!)" />
            </td>
        </tr>
    </table>

    <script language="javascript">
        top.location='default.aspx';
    </script>

</body>
</html>
