﻿#tblOrderHistory { width: 100%; padding: 5px; border-spacing: 0; font-size: 14px; }
#tblOrderHistory thead { text-align:center; } 
#tblOrderHistory thead tr th { padding: 5px; font-size: 14px; font-weight: 700;} 
#tblOrderHistory th.order-row { width:2%; }
#tblOrderHistory th.order-number { width:20%; }
#tblOrderHistory th.order-payment-status { width:24%; }
#tblOrderHistory th.order-shipping-status { width:24%; }
#tblOrderHistory th.order-total { width:20%; }
#tblOrderHistory th.order-notes { width:20%; }
#tblOrderHistory th.order-date { width:14%; }
#tblOrderHistory tbody tr td { text-align: left; vertical-align: middle; padding: 6px; }
#tblOrderHistory .align-left { text-align: left; }
#tblOrderHistory td.rownumber { vertical-align: middle; font-weight: bold; }
#tblOrderHistory td a {font-size: 14px;}
.order-history-pager input[type=text] { width: 50px; }
.order-history-pagination { float: right; margin: 0; }
.order-history-page-number { display: inline; }
.order-history-page-number a { font-size: 14px; font-weight: 700; }
.order-history-pager {display: none;}