﻿#tblOrderHistory { width: 100%; padding: 5; border-spacing: 0; }
#tblOrderHistory thead { text-align:center; } 
#tblOrderHistory thead tr th { padding: 5px; vertical-align: top; } 
#tblOrderHistory th.order-row { width:2%; height: 60px; }
#tblOrderHistory th.order-number { width:15%; }
#tblOrderHistory th.order-payment-status { width:30%; }
#tblOrderHistory th.order-shipping-status { width:10%; }
#tblOrderHistory th.order-total { width:1%; }
#tblOrderHistory th.order-notes { width:20%; }
#tblOrderHistory th.order-date { width:1%; }
#tblOrderHistory th.order-location { width:25%; }
#tblOrderHistory tbody tr td { text-align: left; vertical-align: top; padding: 6px 6px 15px; }
#tblOrderHistory .align-left { text-align: left; }
#tblOrderHistory td.rownumber { vertical-align: top; font-weight: bold; }
.order-history-pager input[type=text] { width: 50px; }
.order-history-pagination { float: right; margin: 0; }
.order-history-page-number { display: inline-flex; }
.order-history-pager {display: none;}