﻿#tblOpenInvoices { width: 100%; padding: 5px; border-spacing: 0; font-size: 14px;}
#tblOpenInvoices thead { text-align:center; } 
#tblOpenInvoices thead tr th { padding: 5px; font-size: 14px; font-weight: 700; } 
#tblOpenInvoices th.invoice-row { width:2%; }
#tblOpenInvoices th.invoice-code { width:20%; }
#tblOpenInvoices th.invoice-date{ width:16%; }
#tblOpenInvoices th.invoice-due-date { width:15%; }
#tblOpenInvoices th.invoice-due-total { width:15%; }
#tblOpenInvoices th.invoice-payments { width:15%; }
#tblOpenInvoices th.invoice-balance { width:15%; }
#tblOpenInvoices th.invoice-action {width:15%;}
#tblOpenInvoices tbody tr td { vertical-align: middle; padding: 6px; }
#tblOpenInvoices td.rownumber { vertical-align: middle; font-weight: bold; }
#tblOpenInvoices td a {font-size: 14px;}
.open-invoice-pager input[type=text] { width: 50px; }
.open-invoice-pagination { float: right; margin: 0; }
.open-invoice-page-number { display: inline; }
.open-invoice-page-number a { font-size: 14px; font-weight: 700; }
.open-invoice-pager {display: none;}








