<%@ Page Language="C#" AutoEventWireup="true" CodeFile="expressprint.aspx.cs" Inherits="InterpriseSuiteEcommerce.expressprint" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="frmExpressPrint" runat="server">
        <asp:Literal ID="litContent" runat="server" />
    </form>
</body>
</html>
