<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.orderconfirmation" CodeFile="orderconfirmation.aspx.cs" %>

<html>
<head>
</head>
<body>
    <asp:Panel ID="pnlContent" runat="server">
        <div>
            <form id="frmOrderConfirmation" runat="server">
                <asp:Literal ID="ltPageContent" runat="server"></asp:Literal>
            </form>
        </div>
    </asp:Panel>
</body>
</html>