<%@ Page Language="C#" AutoEventWireup="true" CodeFile="orderfailed.aspx.cs" Inherits="InterpriseSuiteEcommerce.orderfailed" %>
<%@ Register TagPrefix="ise" TagName="XmlPackage" src="XmlPackageControl.ascx" %>
<html>
<head>
</head>
<body>
    <ise:XmlPackage id="Package1" PackageName="page.orderfailed.xml.config" runat="server" EnforceDisclaimer="true" EnforcePassword="true" EnforceSubscription="True" AllowSEPropogation="True"/>
</body>
</html>
