﻿<%@ Page Language="C#" CodeFile="placeorder.aspx.cs" Inherits="InterpriseSuiteEcommerce.placeorder" %>
<%@ Register TagPrefix="ise" TagName="XmlPackage" src="~/XmlPackageControl.ascx" %>

<html>
<head>
    <title></title>
</head>
<body>
    <ise:XmlPackage id="Package1" PackageName="page.placeorder.xml.config" runat="server" EnforceDisclaimer="true" EnforcePassword="true" EnforceSubscription="True" AllowSEPropogation="True"/>
</body>
</html>
