﻿<%@ Page Language="C#" CodeFile="portalapprovals.aspx.cs" Inherits="InterpriseSuiteEcommerce.portalapprovals" %>

<html>
<head>
</head>
<body>
    <asp:Panel ID="pnlContent" runat="server">
        <div>
            <form id="frmPortalApprovals" runat="server">
                <asp:Literal ID="ltPageContent" runat="server"></asp:Literal>
            </form>
        </div>
    </asp:Panel>
</body>
</html>
