﻿<%@ Page Language="C#" CodeFile="portalapprovalsemail.aspx.cs" Inherits="InterpriseSuiteEcommerce.portalapprovalsemail" %>

<html>
<head>
</head>
<body>
    <asp:Panel ID="pnlContent" runat="server">
        <div>
            <form id="frmPortalApprovalsEmail" runat="server">
                <%--<script>
                    $(document).ready(function () {
                        ShowModalPopup("Processing approvals email...");
                    });
                </script>--%>
                <asp:Literal ID="ltPageContent" runat="server"></asp:Literal>
            </form>
        </div>
    </asp:Panel>
</body>
</html>
