<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.productcompare" CodeFile="productcompare.aspx.cs" %>
<%@ Register TagPrefix="ise" TagName="XmlPackage" src="XmlPackageControl.ascx" %>

<html>
<head>
<title></title>
</head>
<body>
<ise:XmlPackage id="Package1" PackageName="page.productcompare.xml.config" runat="server"/>
</body>
</html>
