<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.sendform" CodeFile="sendform.aspx.cs" %>
<html>
<head>
</head>
<body>
<asp:Panel runat="server">
<div align="center">
	<table border="0" width="100%" height="100%" id="table1">
		<tr>
			<td align="center">
			<asp:Label ID="Label1" runat="server" Text="Label" Font-Bold="True"></asp:Label> 
</td>
		</tr>
	</table>
</div>
</asp:Panel>
</body>
</html>