﻿<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.setcurrency" CodeFile="setcurrency.aspx.cs" %>
<html>
<head>
<title>Setting Currency</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="skins/Skin_(!SKINID!)/style.css" type="text/css">
</head>
<body>
<div align="center">
<img src="images/spacer.gif" width="1" height="100"><br/>
<asp:Label ID="Label1" runat="server" Text="Label" Font-Bold="True"></asp:Label><br/>
<img src="images/spacer.gif" width="1" height="100">
<br/>
</div>
</body>
</html>