﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="setvatsetting.aspx.cs" Inherits="InterpriseSuiteEcommerce.setvatsetting" %>
<html>
<head>
    <title>Setting VAT Display Preference</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="Div1" align="center" runat="server">
        <img src="images/spacer.gif" width="1" height="100">
        <br/>
        <asp:Label ID="lblMessage" runat="server" Text="" Font-Bold="True"></asp:Label>
        <br/>
        <img src="images/spacer.gif" width="1" height="100">
        <br/>
    </div>
</body>
</html>