<%@ Page  language="c#" Inherits="InterpriseSuiteEcommerce.showproduct" CodeFile="showproduct.aspx.cs" %>
<%@ Register Src="UserControls/ScriptControl.ascx" TagName="ScriptControl" TagPrefix="uc" %>

<uc:ScriptControl runat="server" ID="googleScript" ShowGoogleMapApi="true" />