<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopicControl.ascx.cs" Inherits="InterpriseSuiteEcommerce.TopicControl" %>
<asp:Literal ID="Contents" runat="server" EnableViewState="False" Mode="PassThrough" Text="<b>Topic</b>"></asp:Literal>

