<%@ Page language="c#" Inherits="InterpriseSuiteEcommerce.Version" CodeFile="Version.aspx.cs" %>
<html>
	<head>
		<title>Version</title>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">            
			<asp:Label id="lblVersion" runat="server"></asp:Label> <br />
			<asp:Label id="lblDB" runat="server">Label</asp:Label> <br />
			<asp:Label id="lblStoreCode" runat="server"></asp:Label> <br />
			<asp:Label id="lblSerial" runat="server"></asp:Label> <br />
			<asp:Label id="lblConfirm" runat="server"></asp:Label>
		</form>
	</body>
</html>

