<%@ Control Language="C#" AutoEventWireup="true" CodeFile="XmlPackageControl.ascx.cs" Inherits="InterpriseSuiteEcommerce.XmlPackageControl" %>
<asp:Literal ID="Contents" runat="server" EnableViewState="False" Mode="PassThrough" Text="<b>XmlPackage</b>"></asp:Literal>
<asp:Panel ID="Panel1" runat="server" Width="100%">
    <asp:Literal ID="Debug1" runat="server" EnableViewState="False" Mode="PassThrough"></asp:Literal>
    <asp:Literal ID="Debug2" runat="server" EnableViewState="False" Mode="PassThrough"></asp:Literal>
    <asp:Literal ID="Debug3" runat="server" EnableViewState="False" Mode="PassThrough"></asp:Literal>
</asp:Panel>

